/*
    Do you need a dedicated CSS file per HTML page in addition to main.css?
*/


#woods-img:hover {
  scale: 105%;
  cursor: url("/images/axe-cursor.png"), auto;
}

#mine:hover {
  scale: 105%;
  cursor: url("/images/pickaxe-cursor.png"), auto;
}
