/*
    Main CSS file for the website.
*/

/* 
    These 4 css files below style the gathering-army page, if they interfere with subsucent pages, 
    they can be moved to a new specific file.
*/
article {
    margin-bottom: 1rem; /* Adjust the value as per your preference */
}

.card-content {
    margin-top: auto;
}

.coin {
    height: 1.2rem;
}

/* Default styling for larger screens */
.warrior-image,
.card-img-top {
    width: 80%;
    height: auto;
    object-fit: cover;
}

/* Media query for screens smaller than 768px (common breakpoint for tablets) */
@media only screen and (max-width: 767px) {
    .warrior-image,
    .card-img-top {
        height: 120vw; /* Adjust this as needed for mobile view */
    }
}

/* END OF GATHERING STYLING */
