/*
    Main CSS file for the website.
*/

/* 
    These 4 css files below style the gathering-army page, if they interfere with subsucent pages, 
    they can be moved to a new specific file.
*/
article {
    margin-bottom: 1rem; /* Adjust the value as per your preference */
}

.card-content {
    margin-top: auto;
}

.warrior-image {
    width: 100%; /* Make the image take the full width of the card. */
    max-height: 400px; /* Set a maximum height. */
    object-fit: contain; /* Ensure images scale without cropping, fitting within the card's dimensions. */
    display: block; /* Remove any extra space below the image. */
    margin: 0 auto; /* Center the image horizontally if it doesn't occupy the full width. */
}

.coin {
    height: 1.2rem;
}

/* END OF GATHERING STYLING */

